<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/assets/styles/fonts.css">
        <link rel="stylesheet" type="text/css" href="/assets/styles/error.css">
        <title>{{ .title }}</title>
    </head>
    <body>
        <section class="error-container">
            <img src="/assets/images/chart-empty-state.svg" alt="{{ .title }}">
            <h3 class="error-title">{{ .title }}</h3>
        </section>
        <!--The following event will post to the parent window-->
        <div id="status-event" data-status="error" data-message="{{ .title }}" data-code="{{ .statuscode }}"></div>
        <script src="/assets/js/event.js"></script>
        <script src="/assets/js/theme.js"></script>
    </body>
</html>
